{% load static %}
<head>
	<title>Car-bagge - Recycling website</title>
	<meta charset="UTF-8">
	<meta name="description" content="Labs - Design Studio">
	<meta name="keywords" content="lab, onepage, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="img/favicon.ico" rel="shortcut icon"/>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,700|Roboto:300,400,700" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'labs/css/bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'labs/css/font-awesome.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'labs/css/flaticon.css' %}"/>
	<link rel="stylesheet" href="{% static 'labs/css/owl.carousel.css' %}"/>
	<link rel="stylesheet" href="{% static 'labs/css/style.css' %}"/>

</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader">
        <img src="{% static 'labs/img/car-bagge.png' %}" alt="">
        <h2>Loading.....</h2>
    </div>
</div>


<!-- Header section -->
<header class="header-section">
    <div class="logo" style="padding-top:10px ;">
        <img src="{% static 'labs/img/car-bagge.png' %}" alt=""><!-- Logo -->
    </div>
    <!-- Navigation -->
    <div class="responsive"><i class="fa fa-bars"></i></div>
    <nav>
        <ul class="menu-list">
            <li class="active"><a href="{% url 'index' %}">Home</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="contact.html">Contact</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'profile' %}"> <i class="flaticon-025-imagination" style="font-size: 20px;;"></i> Profile</a></li>
            <li><a href="{% url 'logout' %}?next={% url 'index' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login' %}"> <i class="flaticon-025-imagination" style="font-size: 20px;;"></i> Login</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
<!-- Header section end -->

	<!-- Page header -->
	<div class="page-top-section">
		<div class="overlay" style="background-image: url('https://picsum.photos/id/89/2000/500');"></div>
		<div class="container text-center">
			<div class="page-info">
                <div class="hero-center">
                    <form class="nl-form" action="{% url 'search' %}">
                        <input type="text" style="width: 700px;" placeholder="Search for your product here" name="search">
                        <button class="site-btn btn-2">search</button>
                    </form>			
                </div>
			</div>
		</div>
	</div>
    <!-- Page header end-->  
    
	<!-- features section -->
	<div class="team-section spad">
		<div class="overlay"></div>
		<div class="container">
			<div class="section-title">
				<h2>Browse <span>car-bagge</span> and  view recycling companies</h2>
			</div>
			<div class="row">
				<!-- feature item -->
				<div class="col-md-4 col-sm-4 features">
					<div class="icon-box light left">
						<div class="service-text">
							<h2>Get in the lab</h2>
							<p>Lorem ipsum dolor sit amet, consectetur ad ipiscing elit. Curabitur leo est, feugiat nec</p>
						</div>
						<div class="icon">
							<i class="flaticon-002-caliper"></i>
						</div>
					</div>
					<!-- feature item -->
					<div class="icon-box light left">
						<div class="service-text">
							<h2>Projects online</h2>
							<p>Lorem ipsum dolor sit amet, consectetur ad ipiscing elit. Curabitur leo est, feugiat nec</p>
						</div>
						<div class="icon">
							<i class="flaticon-019-coffee-cup"></i>
						</div>
					</div>
					<!-- feature item -->
					<div class="icon-box light left">
						<div class="service-text">
							<h2>SMART MARKETING</h2>
							<p>Lorem ipsum dolor sit amet, consectetur ad ipiscing elit. Curabitur leo est, feugiat nec</p>
						</div>
						<div class="icon">
							<i class="flaticon-020-creativity"></i>
						</div>
					</div>
				</div>
				<!-- Devices -->
				<div class="col-md-4 col-sm-4 devices">
					<div class="text-center">
						<img src="{% static 'labs/img/device.png' %}" alt="">
					</div>
				</div>
				<!-- feature item -->
				<div class="col-md-4 col-sm-4 features">
					<div class="icon-box light">
						<div class="icon">
							<i class="flaticon-037-idea"></i>
						</div>
						<div class="service-text">
							<h2>Get in the lab</h2>
							<p>Lorem ipsum dolor sit amet, consectetur ad ipiscing elit. Curabitur leo est, feugiat nec</p>
						</div>
					</div>
					<!-- feature item -->
					<div class="icon-box light">
						<div class="icon">
							<i class="flaticon-025-imagination"></i>
						</div>
						<div class="service-text">
							<h2>Projects online</h2>
							<p>Lorem ipsum dolor sit amet, consectetur ad ipiscing elit. Curabitur leo est, feugiat nec</p>
						</div>
					</div>
					<!-- feature item -->
					<div class="icon-box light">
						<div class="icon">
							<i class="flaticon-008-team"></i>
						</div>
						<div class="service-text">
							<h2>SMART MARKETING</h2>
							<p>Lorem ipsum dolor sit amet, consectetur ad ipiscing elit. Curabitur leo est, feugiat nec</p>
						</div>
					</div>
				</div>
			</div>
			<div class="text-center mt100">
				<a href="" class="site-btn">Browse</a>
			</div>
		</div>
	</div>
	<!-- features section end-->    
        {% include "partials/_footer_scripts.html" %}

</body>