{% load static %}
{% block scripts %}
	<!-- Footer section -->
	<footer class="footer-section">
		<h2>2019 All rights reserved. Designed by <a href="https://github.com/CollinsMuiruri" target="_blank">Maryann and Collins</a></h2>
	</footer>
	<!-- Footer section end -->

    	<!--====== Javascripts & Jquery ======-->
	<script src="{% static 'labs/js/jquery-2.1.4.min.js' %}"></script>
	<script src="{% static 'labs/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'labs/js/magnific-popup.min.js' %}"></script>
	<script src="{% static 'labs/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'labs/js/circle-progress.min.js' %}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0YyDTa0qqOjIerob2VTIwo_XVMhrruxo"></script>
	<script src="{% static 'labs/js/map.js' %}"></script>
	<script src="{% static 'labs/js/main.js' %}"></script>
{% endblock %}