{% load static %}

<link rel="stylesheet" href="{% static 'labs/css/bootstrap.min.css' %}"/>
<link rel="stylesheet" href="{% static 'labs/css/font-awesome.min.css' %}"/>
<link rel="stylesheet" href="{% static 'labs/css/flaticon.css' %}"/>
<link rel="stylesheet" href="{% static 'labs/css/owl.carousel.css' %}"/>
<link rel="stylesheet" href="{% static 'labs/css/style.css' %}"/>

<!-- Page Preloder -->
	<div id="preloder">
            <div class="loader">
                <img src="{% static 'labs/img/car-bagge.png' %}" alt="">
                <h2>Loading.....</h2>
            </div>
        </div>
    
    
        <!-- Header section -->
        <header class="header-section">
            <div class="logo">
                <img src="{% static 'labs/img/car-bagge.png' %}" alt=""><!-- Logo -->
            </div>
            <!-- Navigation -->
            <div class="responsive"><i class="fa fa-bars"></i></div>
            <nav>
                <ul class="menu-list">
                    <li><a href="home.html">Home</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li class="active"><a href="contact.html">Contact</a></li>
                    <li><a href="elements.html">Elements</a></li>
                </ul>
            </nav>
        </header>
        <!-- Header section end -->